/* Write your CSS here */

* {
  margin: 0px;
  padding: 0px;
  font-family: Bree Serif;
}

.main-con {
  background-color: #1e293b;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 60px;
  color: #f0bb03;
  padding: 10px;
}

.details {
  font-size: 25px;
  color: #fff;
  padding-bottom: 20px;
}

.btn {
  height: 35px;
  width: 90px;
  background-color: #fff;
  color: #1e293b;
  border-radius: 7px;
}
